<ion-header>
  <ion-toolbar>
    <ion-title text-center>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-avatar class="avatar-icon">
        <img
          src="https://lh3.googleusercontent.com/MKv1c1sa3UgYQoERjJwvhHdG_wuqqnVN03L1rbj2fgWF3vvu9-55gIOClyimybV2e4slmyL0BMHrvw63lhFN-jxl7WHGRRo6ApE5KJadZ1zap7pDRUoC6GEpletM0WWvb6GuoTEqTQ=w2400">
      </ion-avatar>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" text-right color="dark">Save</ion-button>
  </div>
  <p>
</ion-content>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title text-center>Alert Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Crime Type</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Select an Option</ion-select-option>
        <ion-select-option value="brown">Robbery</ion-select-option>
        <ion-select-option value="blonde">Sexual Assault</ion-select-option>
        <ion-select-option value="black">Domestic abuse</ion-select-option>
        <ion-select-option value="red">Murder</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
    </ion-item>
    // Default textarea 
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-textarea placeholder="Location"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Select an Option</ion-select-option>
        <ion-select-option value="Select">Select a pictures</ion-select-option>
        <ion-select-option value="noPicture">no pictures</ion-select-option>
      </ion-select>
    </ion-item>
    //Textarea in an item with a placeholder 
    <ion-item>
      <ion-textarea rows="6" cols="20" position="floating" placeholder="What happened here.."></ion-textarea>
    </ion-item>

   //Textarea in an item with a floating label 
    <ion-button expand="full" text-right color="dark">Submit</ion-button>
  </ion-list>

</ion-content>
-->