<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Wi Watch</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-avatar class="avatar-icon">
        <img src="https://lh3.googleusercontent.com/MKv1c1sa3UgYQoERjJwvhHdG_wuqqnVN03L1rbj2fgWF3vvu9-55gIOClyimybV2e4slmyL0BMHrvw63lhFN-jxl7WHGRRo6ApE5KJadZ1zap7pDRUoC6GEpletM0WWvb6GuoTEqTQ=w2400">
      </ion-avatar>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
    <ion-button text-right color="dark">Update</ion-button>
  </div>
</ion-content>